<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Prueba de Apache personalizado</title>
  </head>
  <body>
    <h1>Curso de Cloud Computing</h1>
    <h2>Este es el nodo {{ ansible_hostname }}</h2>
  </body>
</html>
